main{
    margin: 0%;
    padding: 0%;
}

section{
    margin: 0%;
    padding: 0%;
}

a{
    margin: 0%;
    padding: 0%;
}

p{
    margin: 0%;
    padding: 0%;
}

form{
    margin: 0%;
    padding: 0%;
}





.main{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url('../images/fondo.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.formulario{
    width: calc(60% - 40px);
    height: 80%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
    grid-gap: 0px 0px;
    overflow: hidden;
}

.input_1{
    border: 1px #ffffff solid;
    border-radius: 15px;
    width: 100%;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0px 10px;
    margin: 0%;
    color: #171717;
    outline: none;
}

.input_2{
    border: 1px #ffffff solid;
    border-radius: 15px;
    width: calc(40% - 10px);
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0%;
    padding: 0px 10px;
    color: #171717;
}

.submit{
    border: none;
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: 600;
    margin: 0%;
    padding: 0%;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #e70e2f;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
}

.submit:hover{
    background-color: #d90c2b;
}

.submit:active{
    transform: scale(0.9);
}

.texto_titulo{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: 600;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.fornulario_seccion_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    gap: 5%;
}

.fornulario_seccion_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 90%;
}

.contenedor_box{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    grid-gap: 10px 50px;
}

.contenedor_universal{
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-content: center;
    width: auto;
    height: auto;
}

.label{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    width: auto;
    height: auto;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 0px 10px;
}


.input_3{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    width: auto;
    height: auto;
}

.marco{
    width: 80%;
    height: auto;
    background-color: #bf001e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    padding: 50px 50px;
    grid-gap: 20px 20px;
}

.imagen_formulario{
    height: 75%;
    object-fit: cover;
}

.conteendor_boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}


@media screen and (min-width: 501px) and (max-width: 700px){
    .formulario{
        width: calc(100%);
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 0px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
        grid-gap: 0px 0px;
        overflow: hidden;
    }

    .texto_titulo{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: 600;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 25px;
        text-align: center;
    }

    .input_2{
        border: 1px #ffffff solid;
        border-radius: 15px;
        width: 100%;
        height: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin: 0%;
        color: #171717;
    }

    .contenedor_box{
        background-color: transparent;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        margin-top: 25px;
        grid-gap: 10px 50px;
    }

}

@media screen and (min-width: 0px) and (max-width: 500px){
    .formulario{
        width: calc(100% - 0px);
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 0px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
        grid-gap: 0px 0px;
        overflow: hidden;
    }

    .texto_titulo{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: 600;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-align: center;
        width: 90%;
    }

    .input_2{
        border: 1px #ffffff solid;
        border-radius: 15px;
        width: 100%;
        height: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #171717;
    }

    .marco{
        width: 80%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 15px;
        padding: 30px 30px;
        grid-gap: 20px 20px;
    }

    .imagen_formulario{
        height: 60%;
        object-fit: cover;
    }

    .contenedor_box{
        background-color: transparent;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        margin-top: 25px;
        grid-gap: 10px 50px;
    }

    .contenedor_universal{
        background-color: transparent;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-content: center;
        width: 100%;
        height: auto;
    }

    .ajuste{
        width: calc(50% - 32px);
    }
    
}